@media(max-width: 768px) {

    .container {
        padding: 0 15px;
    }

    .top {
        padding: 12px;
        flex-direction: column;
        gap: 5px;
    }

    .para1 {
        margin-left: 0;
        text-align: center;
        font-size: 14px;
    }

    .header {
        flex-direction: column;
        padding: 15px;
    }

    .logo {
        width: 120px;
        height: auto;
        justify-content: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .nav-links li,
    .nav-links select {
        font-size: 16px;
    }

    .main {
        height: auto;
        padding: 80px 20px;
    }

    .heading {
        font-size: 32px;
        line-height: 1.3;
    }

    .sub-heading {
        font-size: 15px;
        line-height: 1.6;
    }

    .box {
        padding: 8px;
        font-size: 10px;
    }

    .box2 {
        position: static;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 8px;
        font-size: 10px;
    }

    .rating {
        position: static;
        transform: none;
        margin-top: 20px;
        font-size: 20px;
    }

    .icons i {
        font-size: 15px;
    }

    .icons h4 {
        font-size: 15px;
    }

    .section {
        padding: 20px 10px;
    }

    .section-card {
        width: 100%;
        height: auto;
    }

    .content {
        padding: 25px;
        font-size: 15px;
    }

    .upper {
        flex-direction: column;
        text-align: center;
    }

    .upper-left {
        margin-right: 0;


    }

    .upper-right {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .paragraph {
        font-size: 22px;
        text-align: center;
        /* line-height: 1.4; */
        padding: 0 15px;
    }

    .title {
        padding: 10px;

    }

    .drop-up {
        font-size: 15px;
    }

    .title-bottom {
        font-size: 30px;
        text-align: center;
    }

    .hero {
        padding: 30px 15px;
    }

    .cards {
        padding: 20px 15px;
    }

    .card-one {
        max-width: 100%;
    }

    .card-one-top,
    .card-two-top,
    .card-three-top {
        height: 220px;
    }

    .style-head {
        font-size: 20px;
    }

    .style-para {
        font-size: 14px;
    }

    .last-main {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .last1-img img {
        width: 180px;
    }

    .last2-img img {
        width: 250px;
    }

    .last-para {
        gap: 10px;

    }

    .last-left {
        padding-left: 50px;
    }

    .last-content h4 {
        font-size: 18px;

    }

    .last {
        padding-left: -10px;
    }

    .font i {
        font-size: 25px;
    }

    .footer {
        padding-bottom: 20px;
    }

    .footer-content {
        text-align: center;
        font-size: 14px;
    }
}